################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1
/ConsoleApp1/ConsoleApp1/obj/Debug/net8.0
/ConsoleApp1/ConsoleApp1/obj
/ConsoleApp1/.vs/VSWorkspaceState.json
