################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Delegates/obj
/Delegates/bin/Debug/net8.0
