################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleApp7/bin/Debug/net10.0
/ConsoleApp7/obj
